/* styles in src/style directory are applied to the whole page */

@import "variables";

body {
    background: $body-background;
    md-content.main-view {
        background: $body-background;
        margin-top: 64px + 48px;
    }
}